<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lifecounter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFBCE2E92DB09B9B004909DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFBCE2FF2DB09B9D004909DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFBCE3092DB09B9D004909DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
